button{
  color: #ff4081;

  margin-left: 20px;
}

button:hover{
  color: white;
  background-color: #ff4081;
}

h2{
  text-align: center;
}

.dialog-container{
  position: relative;
  overflow-y: scroll;

  padding-left: 10px;
  padding-right: 10px;
}

/* Telas notebook 1920px */
@media (max-width: 1920px ) {

  .dialog-container{

    position: relative;
    overflow-x: hidden;
    overflow-y: hidden ;

    padding-right: -70px;
  }
}



/* Telas notebook 1440px */
@media (max-width: 1440px ) {

  .dialog-container{
    position: relative;

    overflow-y: hidden;
    overflow-x: hidden;

    padding-left: -25px;
    padding-right: -50px;

  }

}

/* Telas notebooks/tablets 1024px */
@media (max-width: 1024px ) {

  h2{
    text-align: center;
    margin-top: 25px;
  }

  .dialog-container{
    position: relative;

    overflow-y: hidden;
    overflow-x: hidden;

    padding-left: -25px;
    padding-right: -50px;

    margin-top: -25px;


  }

}


/* Telas tablets/smatphones 900px */
@media (max-width: 900px ) {

  h2{
    text-align: center;
    margin-top: 50px;
  }

  .dialog-container{
    position: relative;

    overflow-y: hidden;
    overflow-x: hidden;

    padding-left: -25px;
    padding-right: -50px;

    margin-top: -50px;


  }
  }

/* Telas smatphones 750px */
@media (max-width: 750px ) {

}

/* Telas smatphones 600px */
@media (max-width: 600px ) {

}

/* Telas smatphones 500px */
@media (max-width: 500px ) {

}

/* Telas smatphones 450px */
@media (max-width: 450px ) {

}

/* Telas smatphones 375px */
@media (max-width: 375px){

}

/* Telas smatphones 320px */
@media (max-width: 320px){

}

