<div class="cards-container">

    <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="image-johnny"></div>
            <mat-card-title>Johnny Carvalho</mat-card-title>
            <mat-card-subtitle>Barbeiro e Cabeleireiro</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="../../../../assets/IMG/img.funcionarios/barbeiro-profissional-com-tesoura-cabeleireiro-estiloso-na-barbearia-barba-estilizada-e-cortada-publicidade-brutal-cara-barbudo-194646299.jpg"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Johnny carvalho trabalha no ramos de cabeleireiro e barbeiro desde meados dos anos 90, esse profissional
                tem muitos casos de sucesso, dentre seus clientes estão famosos como Retinho Jr, Ratinho, Silvio Santos,
                Fausto Silva entre outros.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog()">Horários!</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="image-lucas"></div>
            <mat-card-title>Johnny Carvalho</mat-card-title>
            <mat-card-subtitle>Barbeiro e Cabeleireiro</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="../../../../assets/IMG/img.funcionarios/img-lucas.jpeg"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Johnny carvalho trabalha no ramos de cabeleireiro e barbeiro desde meados dos anos 90, esse profissional
                tem muitos casos de sucesso, dentre seus clientes estão famosos como Retinho Jr, Ratinho, Silvio Santos,
                Fausto Silva entre outros.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog()">Horários!</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="card-container">
        <mat-card-header>
            <div mat-card-avatar class="image-bruna"></div>
            <mat-card-title>Johnny Carvalho</mat-card-title>
            <mat-card-subtitle>Barbeiro e Cabeleireiro</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="../../../../assets/IMG/img.funcionarios/bruna.webp"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Johnny carvalho trabalha no ramos de cabeleireiro e barbeiro desde meados dos anos 90, esse profissional
                tem muitos casos de sucesso, dentre seus clientes estão famosos como Retinho Jr, Ratinho, Silvio Santos,
                Fausto Silva entre outros.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog()">Horários!</button>
        </mat-card-actions>
    </mat-card>

</div>