<div class="table-true">
  <!-- Inicio da tabela -->
  <table
    class="table-container"
    mat-table
    [dataSource]="horariosList"
    class="mat-elevation-z8 demo-table"
    *ngFor="let condicao1 of condicao"
  >
    <!-- Segunda Column -->
    <ng-container matColumnDef="segunda" *ngIf="condicao1.segunda === '1'; else disabled_button_segunda">
      <th mat-header-cell *matHeaderCellDef > SEGUNDA </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_segunda>
      <ng-container matColumnDef="segunda" *ngIf="condicao1.segunda === '0'">
        <th mat-header-cell *matHeaderCellDef > SEGUNDA </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <!-- Terca Column -->
    <ng-container matColumnDef="terca" *ngIf="condicao1.terca === '1'; else disabled_button_terca">
      <th mat-header-cell *matHeaderCellDef > TERCA </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_terca>
      <ng-container matColumnDef="terca" *ngIf="condicao1.terca === '0'">
        <th mat-header-cell *matHeaderCellDef > TERCA </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <!-- Quarta Column -->
    <ng-container matColumnDef="quarta" *ngIf="condicao1.quarta === '1'; else disabled_button_quarta">
      <th mat-header-cell *matHeaderCellDef > QUARTA </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_quarta>
      <ng-container matColumnDef="quarta" *ngIf="condicao1.quarta === '0'">
        <th mat-header-cell *matHeaderCellDef > QUARTA </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <!-- Quinta Column -->
    <ng-container matColumnDef="quinta" *ngIf="condicao1.quinta === '1'; else disabled_button_quinta">
      <th mat-header-cell *matHeaderCellDef > QUINTA </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_quinta>
      <ng-container matColumnDef="quinta" *ngIf="condicao1.quinta === '0'">
        <th mat-header-cell *matHeaderCellDef > QUINTA </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <!-- Sexta Column -->
    <ng-container matColumnDef="sexta" *ngIf="condicao1.sexta === '1'; else disabled_button_sexta">
      <th mat-header-cell *matHeaderCellDef > SEXTA </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_sexta>
      <ng-container matColumnDef="sexta" *ngIf="condicao1.sexta === '0'">
        <th mat-header-cell *matHeaderCellDef > SEXTA </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <!-- Sabado Column -->
    <ng-container matColumnDef="sabado" *ngIf="condicao1.sabado === '1'; else disabled_button_sabado">
      <th mat-header-cell *matHeaderCellDef > SABADO </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_sabado>
      <ng-container matColumnDef="sabado" *ngIf="condicao1.sabado === '0'">
        <th mat-header-cell *matHeaderCellDef > SABADO </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <!-- Domingo Column -->
    <ng-container matColumnDef="domingo" *ngIf="condicao1.domingo === '1'; else disabled_button_domingo">
      <th mat-header-cell *matHeaderCellDef > DOMINGO </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_domingo>
      <ng-container matColumnDef="domingo" *ngIf="condicao1.domingo === '0'">
        <th mat-header-cell *matHeaderCellDef > DOMINGO </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
