<div class="table-true">
  <!-- Inicio da tabela -->
  <table
    class="table-container"
    mat-table
    [dataSource]="horariosList"
    class="mat-elevation-z8 demo-table"

  >
    <!-- Segunda Column -->
    <ng-container matColumnDef="segunda" *ngIf="'1'; else disabled_button_segunda">
      <th mat-header-cell *matHeaderCellDef > SEGUNDA </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_segunda>
      <ng-container matColumnDef="segunda" *ngIf="'0'">
        <th mat-header-cell *matHeaderCellDef > SEGUNDA </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <!-- Terca Column -->
    <ng-container matColumnDef="terca" *ngIf="'1'; else disabled_button_terca">
      <th mat-header-cell *matHeaderCellDef > TERCA </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_terca>
      <ng-container matColumnDef="terca" *ngIf="'0'">
        <th mat-header-cell *matHeaderCellDef > TERCA </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <!-- Quarta Column -->
    <ng-container matColumnDef="quarta" *ngIf="'1'; else disabled_button_quarta">
      <th mat-header-cell *matHeaderCellDef > QUARTA </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_quarta>
      <ng-container matColumnDef="quarta" *ngIf="'0'">
        <th mat-header-cell *matHeaderCellDef > QUARTA </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <!-- Quinta Column -->
    <ng-container matColumnDef="quinta" *ngIf="'1'; else disabled_button_quinta">
      <th mat-header-cell *matHeaderCellDef > QUINTA </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_quinta>
      <ng-container matColumnDef="quinta" *ngIf="'0'">
        <th mat-header-cell *matHeaderCellDef > QUINTA </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <!-- Sexta Column -->
    <ng-container matColumnDef="sexta" *ngIf="'1'; else disabled_button_sexta">
      <th mat-header-cell *matHeaderCellDef > SEXTA </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_sexta>
      <ng-container matColumnDef="sexta" *ngIf="'0'">
        <th mat-header-cell *matHeaderCellDef > SEXTA </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <!-- Sabado Column -->
    <ng-container matColumnDef="sabado" *ngIf="'1'; else disabled_button_sabado">
      <th mat-header-cell *matHeaderCellDef > SABADO </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_sabado>
      <ng-container matColumnDef="sabado" *ngIf="'0'">
        <th mat-header-cell *matHeaderCellDef > SABADO </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <!-- Domingo Column -->
    <ng-container matColumnDef="domingo" *ngIf="'1'; else disabled_button_domingo">
      <th mat-header-cell *matHeaderCellDef > DOMINGO </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agendarHorario()">{{ element.horarios }}</button>
      </td>
    </ng-container>

    <ng-template #disabled_button_domingo>
      <ng-container matColumnDef="domingo" *ngIf="'0'">
        <th mat-header-cell *matHeaderCellDef > DOMINGO </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="disabled" (click)="agendarHorario()">{{ element.horarios }}</button>
        </td>
      </ng-container>
    </ng-template>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

{{somenteHorarios()}}
