h1 {
  color: white;
  text-align: center;
  margin-top: 5px;

}

p {
  color: white;
  margin-top: 25px;
}

input{
  color: white;
}

.register-container {
  margin-top: 150px;
  margin-left: 40%;
  position: absolute;

  background-color: #424242;
  border-radius: 10px;

  padding-top: 50px;
  padding-bottom: 50px;

  /* width: 20%; */
  max-width: 350px;
  min-width: 50px;
  display: block;

  text-align: center;

  box-shadow: 15px 10px 5px 5px rgba(0, 0, 0, 0.5);

}

.mat-form-field{
  width: 70%;
}


input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}


/*--> Buttons login/register and link register/login <--*/

.button-login{
  margin-top: 30px;
}
button{
  padding-left: 50px;
  padding-right: 50px;
}


.register-a {
  font-size: 15px;
  color: white;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.register-a:hover {
  /* color: #FF1493; */
  color: #ff4081;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

}

.link-register{
  margin-top: 30px;
}








/* .shipping-card{
  width: 80%;
  border-radius: 10px;

  box-shadow: 15px 10px 5px 5px rgba(0, 0, 0, 0.5);

}

.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}


.login-a {
  font-size: 15px;
  color: white;
  line-height: 1.2;
  text-decoration: none;

}

.login-a:hover {

  color: #ff4081;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

}

.buton-register{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

 */
